#app
  .container-fluid
    .row
      .col-sm-auto.col-md-8.offset-md-2
        h1 資料更新時間: {{UpdatedTime}}
        h2 共查詢到: {{filter_post.length}} 筆資料
        h1(v-if="filter_post.length == 0") 載入中!!!
        hr
        hr
    .row
      .col-sm-auto.col-md-8.offset-md-2
        h1 篩選條件
        hr
        .row
          .col-sm-auto
            // label 縣市
            select.form-control(v-model="County")
              option(v-for="(c,id) in Address" ,:value="c.CityName") {{c.CityName}}
          .col-sm-auto
            // label 區域
            select.form-control(v-model="Zone")
              option(v-for="(z,id) in Zone_Name" ,:value="z") {{z}}
          .col-sm-auto    
            // label 路名
            select.form-control(v-model="Road")
              option(v-for="(r,id) in Road_Name" ,:value="r") {{r}}    
    .row
      .col-sm-auto.col-md-8.offset-md-2
        br
        table(class="table table-striped" )
          thead(class="thead-dark")
            tr
              th 藥局
              th 地址
              th 電話
              th 成人口罩
              th 兒童口罩
              // th 今日是否營業
          tbody
            tr(v-for="(cla,id) in filter_post",:id="id",v-if="cla")
              td {{cla.name}}
              td {{cla.address}}
              td {{cla.phone}}
              td {{cla.mask_adult}}
              td {{cla.mask_child}}      

