#app
  .container-fluid
    h1 資料更新時間: {{classes["features"][0]["properties"].updated}}
        //- input.table-filter(type='search', data-table='order-table', placeholder='Filter')
    h2 共查詢到: {{classes['features'].length}} 筆資料
    hr
    hr
    .row
      .col-sm-3
        h1 篩選條件
        hr
        label 地區
<<<<<<< HEAD
        h2 {{getCountyName}}
=======
        h2 {{CountyName}}
          p {{getCountyName()}}
>>>>>>> ba427de676fb86b1f3362ba914160d531de9b49e
        select.form-control
        // option(value="getCountyName()")
        //- label 服務費
        //- input.form-control(v-model="service_fee")
        //- br
        //- h1 房間編輯{{edit_room_id+1}}
        //- select.form-control(v-model="edit_room_id")
        //-   option(v-for="(r,id) in rooms", :value="id") {{r.name}}
        //- button.btn.btn-secondary.room_edit(@click="addroom") + 新增房間
        //- hr
      .col-sm-9
        br
        table(class="table table-striped" )
          thead(class="thead-dark")
            tr
              th 藥局
              th 地址
              th 電話
              th 成人口罩
              th 兒童口罩
              th 今日是否營業
          tbody
            tr(v-for="cla in classes['features']")
              td {{cla['properties'].name}}
              td {{cla['properties'].address}}
              td {{cla['properties'].phone}}
              td {{cla['properties'].mask_adult}}
              td {{cla['properties'].mask_child}}

    //- li(v-for="cla in classes['features']")
    //-   .name 藥局:{{cla['properties'].name}}
    //-   .address 地址:{{cla['properties'].address}}
    //-   .phone 電話:{{cla['properties'].phone}}
    //-   .mask_adult 成人口罩數量:{{cla['properties'].mask_adult}}
    //-   .mask_child 兒童口罩數量:{{cla['properties'].mask_child}}
    //-   br  
