<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>口罩地圖資料表格化 - 2020/02/10 By Eason Peng</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<!-- partial:index.partial.html -->

<div id="app">
  <div class="container-fluid" v-if="classes.length == 0"> 
    <div class="row justify-content-center align-items-center" style="margin-top: 10rem;">
      <div class="col-xs-auto col-sm-12 col-md-12 col-lg-10">
        <h1 class="display-1 text-center">Loading...</h1><br><br><br>
      </div>
    </div>
    <div class="row justify-content-center align-items-center">
      <div class="col-xs-auto col-sm-12 col-md-12 col-lg-10">
        <div class="d-flex justify-content-center">
          <div class="spinner-border text-info" style="width: 10rem; height: 10rem;" role="status"><span class="sr-only">Loading...</span></div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid" v-else>
    <div class="row justify-content-center align-items-center">
      <div class="col-xs-auto col-sm-12 col-md-12 col-lg-10">
        <h1 class="text-center">資料更新時間: </h1>
        <h1 class="text-center">{{UpdatedTime}}</h1>
        <hr>
        <hr>
      </div>
    </div>
    <div class="row justify-content-center align-items-center">
      <div class="col-xs-auto col-sm-12 col-md-12 col-lg-10">
        <h1 class="text-center">篩選條件</h1>
        <hr>
        <div class="row">
          <div class="col-xs-auto col-sm-4 col-md-4 col-lg-4">
            <!-- label 縣市-->
            <select class="form-control" v-model="County">
              <option v-for="(c,id) in Address" :value="c.CityName">{{c.CityName}}</option>
            </select>
          </div>
          <div class="col-xs-auto col-sm-4 col-md-4 col-lg-4">
            <!-- label 區域-->
            <select class="form-control" v-model="Zone">
              <option v-for="(z,id) in Zone_Name" :value="z">{{z}}</option>
            </select>
          </div>
          <div class="col-xs-auto col-sm-4 col-md-4 col-lg-4">
            <!-- label 路名-->
            <select class="form-control" v-model="Road">
              <option v-for="(r,id) in Road_Name" :value="r">{{r}}  </option>
            </select>
          </div>
        </div>
        <hr>
      </div>
    </div>
    <div class="row justify-content-center align-items-center">
      <div class="col-xs-auto col-sm-12 col-md-12 col-lg-10">       
        <h2 class="text-center">共查詢到: {{filter_post.length}} 筆資料 </h2><br>
        <!-- h1 {{page_index}}-->
        <div class="div text-center">   
          <button class="btn btn-primary btn-md" v-if="page_total+1&gt;10 &amp;&amp; page_index &gt;=10" @click="page_button(-10)">上十頁</button>
          <button class="btn btn-primary btn-md" v-if="page_index &gt;0" @click="page_button(-1)">上一頁</button>
          <button class="btn btn-primary btn-md mr-1" v-for="(page,id) in sliced_page_total" @click="page_index=page" :id="page" :class=" page_index==page? 'btn-info':'' ">{{page+1}}</button>
          <button class="btn btn-primary btn-md" v-if="page_index &lt; page_total" @click="page_button(+1)">下一頁</button>
          <button class="btn btn-primary btn-md" v-if="page_total+1&gt;10 &amp;&amp; page_total-page_index &gt;=10" @click="page_button(+10)">下十頁 </button>
        </div>
      </div>
    </div>
    <div class="row justify-content-center align-items-center">
      <div class="col-xs-auto col-sm-12 col-md-12 col-lg-10">   
        <div class="table-responsive">
          <table class="table table-striped">
            <thead class="thead-dark">
              <tr>
                <th>藥局</th>
                <th>地址</th>
                <th>電話</th>
                <th>成人口罩</th>
                <th>兒童口罩</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(cla,id) in sliced_filter_post" v-if="cla">
                <td>{{cla.name}}</td>
                <td>{{cla.address}}</td>
                <td>{{cla.phone}}</td>
                <td>{{cla.mask_adult}}</td>
                <td>{{cla.mask_child}}    </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- partial -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js'></script><script  src="./script.js"></script>

</body>
</html>
