<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>口罩地圖資料化 - 2020/02/10 By Eason Peng</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css'>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<!-- partial:index.partial.html -->

<div id="app">
  <div class="container-fluid">
    <h1>資料更新時間: {{UpdatedTime}}</h1>
    <h2>共查詢到: {{filter_post.length}} 筆資料</h2>
    <h1 v-if="filter_post.length == 0">載入中!!!</h1>
    <hr>
    <hr>
    <div class="row">
      <div class="col-sm-12">
        <h1>篩選條件</h1>
        <hr>
        <div class="row">
          <div class="col-sm-auto">
            <label>縣市
              <select class="form-control" v-model="County">
                <option v-for="(c,id) in Address" :value="c.CityName">{{c.CityName}}</option>
              </select>
            </label>
          </div>
          <div class="col-sm-auto">
            <label>區域
              <select class="form-control" v-model="Zone">
                <option v-for="(z,id) in Zone_Name" :value="z">{{z}}</option>
              </select>
            </label>
          </div>
          <div class="col-sm-auto">   
            <label>路名
              <select class="form-control" v-model="Road">
                <option v-for="(r,id) in Road_Name" :value="r">{{r}}    </option>
              </select>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-auto col-md-8 offset-md-2"><br>
        <table class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <th>藥局</th>
              <th>地址</th>
              <th>電話</th>
              <th>成人口罩</th>
              <th>兒童口罩</th>
              <!-- th 今日是否營業-->
            </tr>
          </thead>
          <tbody>
            <tr v-for="(cla,id) in filter_post" :id="id" v-if="cla">
              <td>{{cla.name}}</td>
              <td>{{cla.address}}</td>
              <td>{{cla.phone}}</td>
              <td>{{cla.mask_adult}}</td>
              <td>{{cla.mask_child}}      </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- partial -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js'></script><script  src="./script.js"></script>

</body>
</html>
