#app
  .container-fluid
    h1 資料更新時間: 
      //- p {{classes["features"][0]["properties"].updated}}
        //- input.table-filter(type='search', data-table='order-table', placeholder='Filter')
    h2 共查詢到: 
      //- p 共查詢到: {{classes['features'].length}} 筆資料
    hr
    hr
    .row
      .col-sm-3
        h1 篩選條件
        hr
        label 縣市
          select.form-control(v-model="County")
            option(v-for="(c,id) in Address" ,:value="c.CityName") {{c.CityName}}
        br
        label 區域
          select.form-control(v-model="Zone")
            option(v-for="(z,id) in ZoneName" ,:value="z") {{z}}
        br    
        label 路名
          select.form-control
            option            

      .col-sm-9
        br
        table(class="table table-striped" )
          thead(class="thead-dark")
            tr
              th 藥局
              th 地址
              th 電話
              th 成人口罩
              th 兒童口罩
              // th 今日是否營業
          tbody
            tr(v-for="(cla,id) in classes",:id="id",v-if="cla")
              td {{cla.name}}
              td {{cla.address}}
              td {{cla.phone}}
              td {{cla.mask_adult}}
              td {{cla.mask_child}}

    //- li(v-for="cla in classes['features']")
    //-   .name 藥局:{{cla['properties'].name}}
    //-   .address 地址:{{cla['properties'].address}}
    //-   .phone 電話:{{cla['properties'].phone}}
    //-   .mask_adult 成人口罩數量:{{cla['properties'].mask_adult}}
    //-   .mask_child 兒童口罩數量:{{cla['properties'].mask_child}}
    //-   br  
